{% extends 'base.html.twig' %}

{% block title %}Lista Postów{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            Jesteś zalogowany jako: {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Wyloguj</a>
        </div>
    {% endif %}
    <h1>Lista Postów</h1>

    {% if posts is defined and posts|length > 0 %}
        <ul>
            {% for post in posts %}
                <li>
                    {{ post.title }} - {{ post.author }}
                    <a href="{{ path('post_delete', {'id': post.id, '_method': 'DELETE'}) }}" onclick="return confirm('Czy na pewno chcesz usunąć ten post?');">
                        Usuń post
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak postów do wyświetlenia.</p>
    {% endif %}
{% endblock %}